<h1>New Photo</h1>

<%= form_for [@gallery, @photo], :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </p>
  
  <%= f.submit %>
<% end %>
